.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.cart {
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  max-height: 4500px;
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.695);
  padding: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.cart-element {
  height: 35px;
  border: none;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.622);
  box-shadow: rgba(50, 93, 64, 0.332) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

input {
  padding: 0px 8px;
}

.cart-element:hover {
  box-shadow: rgba(50, 93, 62, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cart-flag {
  border-radius: 8px;
}

#progress {
  color: rgba(29, 34, 37, 0.655);
}
/*MODAL*/
.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0    ;
  pointer-events: none;
}

.modal-container.show {
  z-index: 1000;
  pointer-events: auto;
  opacity: 1;
}



.modal {
  background-color: rgba(241, 239, 239, 0.977);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 350px;
  height: 250px;
}

.modal-element {
  height: 30px;
  margin: 7px;
  border: none;
  text-align: center;

}

.modal-elements{
  margin-top: 10px; 
}

.modal-button{
  background-color: rgb(62, 66, 62);
  margin: 7px;
  height: 30px;
  border: none;
  border-radius: 8px;
  color: rgba(230, 233, 228, 0.712);
     box-shadow: rgba(50, 93, 64, 0.332) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 110px;

}

.modal-button:hover{
   box-shadow: rgba(50, 93, 62, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}dal-elements {
  margin: 15px 0px;
}
